.skill-card {
  width: 140px;
  height: 140px;
  background: #faf5ff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.skill-card img {
  width: 60px;
  height: 60px;
}

.skill-card p {
  margin-top: 10px;
  font-weight: 600;
  color: #5e18c8;
}

.skill-card:hover {
  transform: translateY(-6px);
  background: #ede9fe;
}
